/*///////////////////////////////////////////////////////////////////////
    Reset
///////////////////////////////////////////////////////////////////////*/
button {
  all: unset;
  outline: revert;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background: #191c1f;
}
body {
  background: #191c1f;
  line-height: 1;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  appearance: none;
  background: transparent;
  -webkit-appearance: none;
  border: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-size: inherit;
}
a {
  text-decoration: unset;
  color: unset;
  cursor: pointer;
}
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
/*/ //////////////////////////////////////////////////////////////////////

Base
///////////////////////////////////////////////////////////////////////*/
/* Keyframes for vertical translation animation */
@keyframes translateY {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-21px);
  }
  90% {
    transform: translateY(0px);
  }
}
#page-loader__dot {
  transform-origin: 100px;
  animation: translateY 0.9s ease-in-out infinite;
}
.page-loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #191c1f;
  z-index: 10000000;
  pointer-events: none;
  transition: opacity 0.3s;
  opacity: 0;
}
.page-loader .page-loader__svg {
  position: absolute;
  top: 5px;
}
@media (min-width: 62.5em) {
  .page-loader .page-loader__svg {
    top: 25px;
  }
}
.loading .page-loader {
  opacity: 1;
}
.no-transition * {
  transition: none !important;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif, sans-serif;
  font-size: clamp(1rem, 1.25vw, 20px);
  line-height: clamp(1.5rem, 2vw, 2rem);
  background-color: #191c1f;
  color: #ffffff;
}
body.nav-open,
body.work-modal-open {
  overflow: hidden;
}
p {
  max-width: 43.75rem;
}
* + p {
  margin-top: 1em;
}
p + * {
  margin-top: 0.75em;
}
h2:not([class*='mw']),
h3:not([class*='mw']),
h4:not([class*='mw']),
h5:not([class*='mw']),
h6:not([class*='mw']) {
  max-width: 40rem;
}
@media (min-width: 62.5em) {
  h2:not([class*='mw']),
  h3:not([class*='mw']),
  h4:not([class*='mw']),
  h5:not([class*='mw']),
  h6:not([class*='mw']) {
    max-width: 54rem;
  }
}
.mw-container {
  max-width: 120rem;
}
* {
  scroll-margin-block: 5rem;
}
@media (min-width: 62.5em) {
  * {
    scroll-margin-block: 6.25rem;
  }
}
/*///////////////////////////////////////////////////////////////////////
    Fonts
///////////////////////////////////////////////////////////////////////*/
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Inter-Regular.woff2?v=3.19") format("woff2"), url("../assets/fonts/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Inter-Italic.woff2?v=3.19") format("woff2"), url("../assets/fonts/Inter-Italic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Inter-Medium.woff2?v=3.19") format("woff2"), url("../assets/fonts/Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Inter-MediumItalic.woff2?v=3.19") format("woff2"), url("../assets/fonts/Inter-MediumItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"), url("../assets/fonts/Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"), url("../assets/fonts/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "bentonsansXCnBlk";
  src: url("../assets/fonts/bentonsanscomp-black-webfont.woff2") format("woff2"), url("../assets/fonts/bentonsanscomp-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "bentonsanscondensed_black";
  src: url("../assets/fonts/bentonsanscond-black-webfont.woff2") format("woff2"), url("../assets/fonts/bentonsanscond-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "bentonsansultraCnBlk";
  src: url("../assets/fonts/bentonsansextracomp-black-webfont.woff2") format("woff2"), url("../assets/fonts/bentonsansextracomp-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*/ //////////////////////////////////////////////////////////////////////
Text
///////////////////////////////////////////////////////////////////////*/
.text--hero {
  font-size: clamp(7rem, 10.3125vw, 12.3125rem);
  line-height: 0.82em;
  text-transform: uppercase;
  font-family: 'bentonsansultraCnBlk', 'Inter', sans-serif;
  letter-spacing: 0;
  color: #aef9d1;
}
.text--hero:not([class*='mb']) {
  margin-bottom: clamp(1.75rem, 2.1875vw, 2.1875rem);
}
@media (min-width: 87.5em) {
  .text--hero:not([class*='mb']) {
    margin-bottom: 0;
  }
}
@media (min-width: 87.5em) {
  .template--home .text--hero {
    position: relative;
    bottom: -0.625vw;
  }
}
.text--section {
  font-size: clamp(4.75rem, 9.2238vw, 9.2238rem);
  line-height: 0.9em;
  text-transform: uppercase;
  font-family: 'bentonsansultraCnBlk', 'Inter', sans-serif;
  letter-spacing: 0;
  color: #aef9d1;
}
.text--section:not([class*='mw']) {
  max-width: 40rem;
}
@media (min-width: 62.5em) {
  .text--section:not([class*='mw']) {
    max-width: 55rem;
  }
}
.text--section:not([class*='mb']) {
  margin-bottom: clamp(1.75rem, 2.1875vw, 2.1875rem);
}
@media (min-width: 62.5em) {
  .text--section:not([class*='mb']) {
    margin-bottom: clamp(1.75rem, 2.1875vw, 2.1875rem);
  }
}
.text--block {
  font-size: clamp(1.375rem, 4.625vw, 4.625rem);
  line-height: 1.1em;
  text-transform: uppercase;
  font-family: 'bentonsanscondensed_black', 'Inter', sans-serif;
  letter-spacing: -0.02em;
  color: #aef9d1;
}
.text--block:not([class*='mw']) {
  max-width: 40rem;
}
@media (min-width: 62.5em) {
  .text--block:not([class*='mw']) {
    max-width: 54rem;
  }
}
.text--block:not([class*='mb']) {
  margin-bottom: 0.75em;
}
@media (min-width: 31.25em) {
  .text--block:not([class*='mb']) {
    margin-bottom: clamp(1.75rem, 2.1875vw, 2.1875rem);
  }
}
.text--subheadingLg {
  font-size: clamp(25.8208px, 3.75vw, 60px);
  line-height: clamp(31.6992px, 4vw, 64px);
  font-weight: 600;
  letter-spacing: -0.05em;
}
.text--subheadingLg:not([class*='mw']) {
  max-width: 23ch;
}
@media (min-width: 62.5em) {
  .text--subheadingLg:not([class*='mw']) {
    max-width: 23ch;
  }
}
.text--subheadingLg:not([class*='mb']) {
  margin-bottom: clamp(1rem, 1.5vw, 1.5rem);
}
.text--subheadingSm {
  font-size: clamp(25.8208px, 2.75vw, 44px);
  line-height: clamp(31.6992px, 3.25vw, 52px);
  font-weight: 600;
  letter-spacing: -0.04em;
}
.text--subheadingSm:not([class*='mw']) {
  max-width: 40rem;
}
@media (min-width: 62.5em) {
  .text--subheadingSm:not([class*='mw']) {
    max-width: 54rem;
  }
}
.text--subheadingSm:not([class*='mb']) {
  margin-bottom: clamp(1rem, 1.5vw, 1.5rem);
}
@media (min-width: 62.5em) {
  .text--subheadingSm:not([class*='mb']) {
    margin-bottom: clamp(1rem, 1.5vw, 1.5rem);
  }
}
.text--breadcrumb {
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  line-height: 1.1em;
  text-transform: uppercase;
  font-family: 'bentonsanscondensed_black', 'Inter', sans-serif;
  letter-spacing: -0.02em;
}
.text--small {
  font-size: clamp(14px, 1vw, 1rem);
  line-height: 1.62em;
}
.text--small:not([class*='mw']) {
  max-width: 30rem;
}
@media (min-width: 62.5em) {
  .text--small:not([class*='mw']) {
    max-width: 43.75rem;
  }
}
.text--eyebrow {
  font-size: clamp(14px, 1vw, 1rem);
  line-height: 1.36em;
  text-transform: uppercase;
  font-weight: 500;
}
.emoji {
  font-size: 0.9em;
}
/*///////////////////////////////////////////////////////////////////////
    Buttons and Links
///////////////////////////////////////////////////////////////////////*/
.link:has(svg),
.link--on-hover:has(svg) {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.link {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.35em;
  text-decoration-color: inherit !important;
  outline: none;
  font-size: inherit;
}
@media (any-hover: hover) {
  .link:hover,
  .link:focus {
    color: #aef9d1;
    text-decoration-thickness: 1px;
    text-decoration-color: inherit !important;
  }
}
.link--on-hover {
  outline: none;
}
@media (any-hover: hover) {
  .link--on-hover:hover,
  .link--on-hover:focus {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.35em;
    text-decoration-color: inherit !important;
    color: #aef9d1;
  }
}
.link__creds {
  font-size: 11px;
  cursor: url(../assets/icons/icon--cursor-creds.svg) 35 35, pointer;
}
.buttons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: clamp(3.125rem, 4.375vw, 4.375rem);
  column-gap: clamp(1rem, 1.25vw, 1.25rem);
  row-gap: calc(clamp(1rem, 1.25vw, 1.25rem) / 2);
}
.c-0 {
  color: #191c1f;
}
.c-1 {
  color: #ffffff;
}
.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 6.25rem;
  border: 2px solid transparent;
  overflow: hidden;
  font-weight: 500;
  transition: all 0s cubic-bezier(0.22, 1, 0.36, 1);
  outline: none;
  font-size: inherit;
}
@media (min-width: 31.25em) {
  .button {
    display: inline-flex;
  }
}
.button:not(.button.--sm) {
  flex-basis: 100%;
}
@media (min-width: 31.25em) {
  .button:not(.button.--sm) {
    flex-basis: auto;
  }
}
.button:not(.button.--mini) {
  padding: 14px 26px;
}
@media (min-width: 31.25em) {
  .button:not(.button.--mini) {
    padding: 14px 32px;
  }
}
.button.--mini {
  font-size: 12px;
  padding: 0.25rem 0.5rem;
}
.button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #aef9d1;
  transform: scale(0);
  z-index: 1;
  border-radius: 100em;
  transition: all 0s cubic-bezier(0.22, 1, 0.36, 1);
  pointer-events: none;
}
.button * {
  position: relative;
  z-index: 2;
}
@media (any-hover: hover) {
  .button:hover,
  .button:focus {
    transition: color 0.3s cubic-bezier(0.22, 1, 0.36, 1), border-color 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .button:hover:before,
  .button:focus:before {
    transform: none;
    transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  }
}
.button.--1 {
  color: #191c1f;
  background-color: #ffffff;
  border-color: #ffffff;
}
@media (any-hover: hover) {
  .button.--1:hover,
  .button.--1:focus {
    color: #191c1f !important;
    border-color: #aef9d1;
  }
}
.button.--1d {
  color: #3b4249;
  background-color: #24292d;
  border-color: #24292d;
}
@media (any-hover: hover) {
  .button.--1d:hover,
  .button.--1d:focus {
    color: #ffffff !important;
  }
}
.button.--1out {
  color: #ffffff;
  border-color: #ffffff;
}
@media (any-hover: hover) {
  .button.--1out:hover,
  .button.--1out:focus {
    color: #191c1f !important;
    border-color: #aef9d1;
  }
}
.button.--0out {
  color: #191c1f;
  border-color: #191c1f;
}
@media (any-hover: hover) {
  .button.--0out:hover,
  .button.--0out:focus {
    color: #ffffff !important;
  }
}
.button.--2 {
  color: #ffffff;
  background-color: #aef9d1;
  border-color: #aef9d1;
}
.button.--2:before {
  background-color: #ffffff;
}
@media (any-hover: hover) {
  .button.--2:hover,
  .button.--2:focus {
    color: #191c1f !important;
    transition: color 0.3s cubic-bezier(0.22, 1, 0.36, 1);
    border-color: #ffffff;
  }
}
/*/ //////////////////////////////////////////////////////////////////////
Library
///////////////////////////////////////////////////////////////////////*/
.pointer-none {
  pointer-events: none;
}
.mw-300 {
  max-width: 300px;
}
.mw-400 {
  max-width: 400px;
}
.mw-500 {
  max-width: 500px;
}
.mw-600 {
  max-width: 600px;
}
.mw-700 {
  max-width: 700px;
}
.mw-800 {
  max-width: 800px;
}
.w-100 {
  width: 100%;
}
.w-100vw {
  width: 100vw;
}
.h-100vh {
  height: 100vh;
}
.h-100 {
  height: 100%;
}
.relative {
  position: relative;
}
.no-outline {
  outline: none;
}
/* text weigths */
.t-600 {
  font-weight: 600;
}
/* z index */
.z-3 {
  z-index: 3;
}
.z-2 {
  z-index: 2;
}
/* opacities */
.op-0 {
  opacity: 0;
}
.op-50 {
  opacity: 0.5;
}
/* display */
.inline-block {
  display: inline-block;
}
.inline-flex {
  display: inline-flex;
}
.flex {
  display: flex;
}
@media (min-width: 62.5em) {
  .l-flex {
    display: flex;
  }
}
@media (min-width: 80em) {
  .xl-flex {
    display: flex;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
}
/* flex vertical */
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-baseline {
  align-items: baseline;
}
/* flex horizontal */
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
/* margins */
.ml-1 {
  margin-left: 0.5rem;
}
.ml-2 {
  margin-left: 1rem;
}
.mt-auto {
  margin-top: auto;
}
.mt--1 {
  margin-top: -0.5rem;
}
.mt--2 {
  margin-top: -1rem;
}
.mt-sm {
  margin-top: clamp(1.75rem, 2.1875vw, 2.1875rem);
}
.mt-md {
  margin-top: clamp(3.125rem, 4.375vw, 4.375rem);
}
.mt-lg {
  margin-top: clamp(3.125rem, 5.4688vw, 5.4688rem);
}
.mb-auto {
  margin-bottom: auto;
}
.mb-sm {
  margin-bottom: clamp(1.75rem, 2.1875vw, 2.1875rem);
}
.mb-md {
  margin-bottom: clamp(3.125rem, 4.375vw, 4.375rem);
}
.mb-lg {
  margin-bottom: clamp(3.125rem, 5.4688vw, 5.4688rem);
}
.mx-auto {
  margin-inline: auto;
}
/* visibility */
.visuallyhidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.hidden {
  display: none;
}
.s-visible {
  display: none;
}
@media (min-width: 31.25em) {
  .s-visible {
    display: block;
  }
}
.m-visible {
  display: none;
}
@media (min-width: 43.75em) {
  .m-visible {
    display: block;
  }
}
.l-visible {
  display: none;
}
@media (min-width: 62.5em) {
  .l-visible {
    display: block;
  }
}
.xl-visible {
  display: none;
}
@media (min-width: 80em) {
  .xl-visible {
    display: block;
  }
}
@media (min-width: 31.25em) {
  .s-hidden {
    display: none;
  }
}
@media (min-width: 43.75em) {
  .m-hidden {
    display: none;
  }
}
@media (min-width: 62.5em) {
  .l-hidden {
    display: none;
  }
}
@media (min-width: 80em) {
  .xl-hidden {
    display: none;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@media (min-width: 62.5em) {
  .grid {
    grid-template-columns: repeat(13, 1fr);
  }
}
.col {
  grid-column: span 13;
}
.col-l {
  grid-column: span 13;
}
@media (min-width: 62.5em) {
  .col-l {
    grid-column: 1 / span 4;
  }
}
.col-r {
  grid-column: span 13;
}
@media (min-width: 62.5em) {
  .col-r {
    grid-column: 6 / span 8;
  }
}
@media (max-width: 31.1875em) {
  .col {
    grid-column: span 12;
  }
}
@media (min-width: 31.25em) {
  .col-8 {
    grid-column: span 8;
  }
}
@media (min-width: 31.25em) {
  .col-4 {
    grid-column: span 4;
  }
}
.gutter-x {
  column-gap: clamp(1rem, 1.25vw, 1.25rem);
}
.gutter-y {
  row-gap: clamp(1rem, 1.25vw, 1.25rem);
}
/* whitespaces */
.spacing-x {
  padding-inline: clamp(1.5rem, 5vw, 5rem);
}
.spacing-y--section {
  padding-block: clamp(6.25rem, 13.75vw, 13.75rem);
}
.spacing-y--block {
  padding-block: clamp(3.75rem, 6.875vw, 6.875rem);
}
.spacing-t--sm {
  padding-top: clamp(1.75rem, 2.1875vw, 2.1875rem);
}
.spacing-t--md {
  padding-top: clamp(3.125rem, 4.375vw, 4.375rem);
}
.spacing-t--lg {
  padding-top: clamp(3.125rem, 5.4688vw, 5.4688rem);
}
.spacing-b--sm {
  padding-bottom: clamp(1.75rem, 2.1875vw, 2.1875rem);
}
.spacing-b--md {
  padding-bottom: clamp(3.125rem, 4.375vw, 4.375rem);
}
.spacing-b--lg {
  padding-bottom: clamp(3.125rem, 5.4688vw, 5.4688rem);
}
/*///////////////////////////////////////////////////////////////////////
    Header, Footer, Main
///////////////////////////////////////////////////////////////////////*/
.site-footer,
.site-main,
.site-header .col-l {
  position: relative;
  display: block;
  transition: all calc(0.3s * 1) cubic-bezier(0.22, 1, 0.36, 1);
}
@media (min-width: 62.5em) {
  .site-footer,
  .site-main,
  .site-header .col-l {
    transition: initial;
  }
}
.nav-open .site-footer,
.nav-open .site-main,
.nav-open .site-header .col-l {
  filter: blur(5px) contrast(1) brightness(0.5);
  transition: all calc(0.3s * 4) cubic-bezier(0.22, 1, 0.36, 1);
}
@media (min-width: 62.5em) {
  .nav-open .site-footer,
  .nav-open .site-main,
  .nav-open .site-header .col-l {
    filter: none;
    transition: initial;
  }
}
.site-header {
  display: flex;
  width: 100vw;
  height: 5rem;
  z-index: 0;
  background: #191c1f;
  position: fixed!important;
}
@media (min-width: 43.75em) {
  .site-header:not(.template--work .site-header) {
    z-index: 11;
  }
}
@media (min-width: 62.5em) {
  .site-header {
    height: 6.25rem;
    background: transparent;
    transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  }
}
.site-header .col-r {
  position: absolute;
}
@media (min-width: 62.5em) {
  .site-header .col-r {
    position: static;
  }
}
.header__logo-container {
  display: flex!important;
}
.header__logo {
  position: relative;
  top: 0px;
  width: 140px;
}
@media (min-width: 62.5em) {
  .header__logo {
    top: -5px;
    width: 89px;
  }
}
.header__logo-link {
  position: relative;
  display: inline-flex;
  align-items: center;
}
@media (min-width: 62.5em) {
  .header__logo-link svg {
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .header__logo-link svg {
    filter: drop-shadow(3px 3px 0px #191c1f);
  }
}
.icon.menu line {
  transition-delay: calc(0.3s * 1);
}
.icon.menu line:nth-child(1) {
  transform-origin: bottom left;
}
.icon.menu line:nth-child(3) {
  transform-origin: top right;
}
.header__toggler {
  position: absolute;
  top: 0;
  right: -20px;
  padding: 20px;
  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}
.header__toggler:hover,
.header__toggler:focus {
  color: #aef9d1;
}
@media (min-width: 62.5em) {
  .header__toggler {
    display: none;
  }
}
.nav-open .header__toggler.--close {
  right: calc(clamp(1.5rem, 5vw, 5rem) - 20px);
}
.nav-open .header__toggler .icon.menu line:nth-child(1) {
  transform: translateX(7px) rotate(-45deg);
}
.nav-open .header__toggler .icon.menu line:nth-child(2) {
  opacity: 0;
}
.nav-open .header__toggler .icon.menu line:nth-child(3) {
  transform: translateY(16px) rotate(45deg);
}
.header__toggler svg line {
  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}
.header-nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  left: auto;
  max-width: 31.25rem;
  transform: translateX(100%);
  background-color: #5c229e;
  color: #ffffff;
  padding: 5rem clamp(1.5rem, 5vw, 5rem) clamp(3.125rem, 4.375vw, 4.375rem);
  transition: all calc(0.3s * 2) cubic-bezier(0.22, 1, 0.36, 1);
}
@media (max-width: 62.4375em) {
  .header-nav {
    width: 100vw;
    height: 100vh;
  }
  .header-nav ul {
    transform: translateX(2rem);
    opacity: 0;
    transition: all calc(0.3s * 2) cubic-bezier(0.22, 1, 0.36, 1) calc(0.3s * 0.65);
  }
}
@media (min-width: 62.5em) {
  .header-nav {
    position: static;
    max-width: none;
    transform: none;
    background-color: transparent;
    padding: 0;
  }
  .header-nav ul {
    display: flex;
  }
  .header-nav li {
    padding: 0.5rem 1.5rem;
    background-color: #191c1f;
  }
  .header-nav li:first-child {
    margin-left: -1.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .header-nav li:nth-last-child(4) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .header-nav li:last-child {
    margin-left: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-right: 0;
  }
}
.nav-open .header-nav {
  transform: none;
  overflow: scroll;
}
@media (max-width: 62.4375em) {
  .nav-open .header-nav ul {
    transform: translateX(0);
    opacity: 1;
  }
}
.header-nav a {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.35em;
  text-decoration-color: transparent;
  outline: none;
  font-size: 4rem;
  line-height: 4.3125rem;
  letter-spacing: -0.05em;
  font-weight: normal;
}
@media (any-hover: hover) {
  .header-nav a:hover,
  .header-nav a:focus {
    color: #aef9d1;
  }
}
@media (min-width: 62.5em) {
  .header-nav a {
    font-size: clamp(1rem, 1.25vw, 20px);
    line-height: clamp(1.5rem, 2vw, 2rem);
    letter-spacing: initial;
    font-weight: 500;
  }
}
@media (min-width: 62.5em) and (any-hover: hover) {
  .header-nav a:hover,
  .header-nav a:focus {
    text-decoration-color: inherit;
  }
}
.header-nav .active a {
  color: #ffffff;
}
@media (min-width: 62.5em) {
  .header-nav .active a {
    color: #ffffff;
    text-decoration-color: #ffffff;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 40rem #24292d inset;
}
@media (max-width: 62.4375em) {
  .link--chat a {
    font-size: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
.link--chat .icon {
  width: 42px;
  height: 42px;
  margin-left: 0.5rem;
}
.header-nav__overlay {
  position: fixed;
  display: none;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
}
.nav-open .header-nav__overlay {
  display: block;
}
.footer-backlay {
  position: ;
  mix-blend-mode: difference;
}
.site-footer {
  bottom: 0;
  width: 100vw;
  padding-top: clamp(3.125rem, 8.875vw, 8.875rem);
  padding-bottom: clamp(3.125rem, 4.375vw, 4.375rem);
  margin-top: auto;
  z-index: 10;
  background-color: #aef9d1;
  color: #191c1f;
}
@media (min-width: 62.5em) {
  .site-footer {
    height: 6.25rem;
    padding-block: 0;
    background-color: transparent;
    color: #ffffff;
    font-weight: unset;
    pointer-events: none;
  }
  .site-footer:not(.template--work .site-footer) {
    position: fixed;
  }
}
@media (min-width: 62.5em) {
  .site-footer a,
  .site-footer button {
    pointer-events: initial;
  }
}
.template--work .site-footer {
  color: #191c1f;
}
@media (min-width: 62.5em) and (max-width: 87.4375em) {
  .template--home .site-footer {
    position: static;
  }
}
.site-footer .button {
  background-color: #191c1f;
  color: #ffffff;
}
@media (any-hover: hover) {
  .site-footer .button:hover,
  .site-footer .button:focus {
    color: #ffffff !important;
  }
}
.site-footer .button::before {
  display: none;
}
.site-footer__inner {
  position: relative;
}
@media (min-width: 62.5em) {
  .site-footer__inner:before {
    content: '';
    position: absolute;
    top: 24px;
    bottom: 24px;
    right: calc(clamp(1.5rem, 5vw, 5rem) / -2);
    left: calc(clamp(1.5rem, 5vw, 5rem) / -2);
    background-color: #191c1f;
    z-index: -1;
    border-radius: 100px;
  }
}
.template--work .site-footer__inner::before {
  background-color: #ffffff;
}
.template--work .site-footer__inner a:hover,
.template--work .site-footer__inner a:focus {
  color: #0c9c4f;
}
@media (max-width: 62.4375em) {
  .footer-nav ul {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 62.4375em) {
  .footer-nav a {
    padding-block: 0.25rem;
    display: block;
    font-weight: 600;
    font-size: 1rem;
  }
}
.site-main {
  width: 100vw;
  padding-top: clamp(3.125rem, 8.875vw, 8.875rem);
  padding-bottom: calc(clamp(3.125rem, 8.875vw, 8.875rem) * 1.5);
  flex-grow: 1;
  flex-basis: 100%;
}
@media (min-width: 43.75em) {
  .site-main {
    margin-top: 5rem;
  }
}
@media (min-width: 62.5em) {
  .site-main {
    margin-top: 6.25rem;
  }
}
@media (min-width: 62.5em) {
  .template--home .site-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
@media (min-width: 62.5em) and (max-width: 87.4375em) {
  .template--home .site-main {
    padding-bottom: calc((clamp(3.125rem, 8.875vw, 8.875rem) * 1.5) - 6.25rem);
  }
}
@media (max-width: 87.4375em) {
  .template--home .site-main .col-l,
  .template--home .site-main .col-r {
    grid-column: span 13;
  }
}
@media (min-width: 62.5em) {
  .site-main .col-l {
    max-height: calc(100vh - 6.25rem - 6.25rem - clamp(3.125rem, 8.875vw, 8.875rem));
  }
}
@media (min-width: 62.5em) {
  .site-main .col-r {
    margin-top: calc(clamp(3.125rem, 8.875vw, 8.875rem) * -1);
    padding-top: calc(clamp(3.125rem, 8.875vw, 8.875rem) * 1);
  }
}
.template--work .site-main .col-r {
  padding-bottom: 0;
}
.template--services-detail .site-main {
  padding-bottom: 0;
}
@media (min-width: 62.5em) {
  .template--services-detail .site-main .col-r {
    height: calc(100vh - 6.25rem);
    overflow-y: scroll;
    margin-left: -100px;
    margin-right: calc(clamp(1.5rem, 5vw, 5rem) * -1);
    padding-left: 100px;
    padding-right: clamp(1.5rem, 5vw, 5rem);
    padding-bottom: calc(clamp(3.125rem, 8.875vw, 8.875rem) * 1.5);
  }
}
@media (pointer: fine) and (min-width: 62.5em) {
  .scrollbars ::-webkit-scrollbar {
    width: 4px;
  }
}
@media (pointer: fine) and (min-width: 62.5em) {
  .scrollbars ::-webkit-scrollbar-thumb {
    background-color: #919ca6;
    border: 2px solid #919ca6;
    border-radius: 4px;
    background-clip: content-box;
  }
}
@media (any-hover: hover) and (min-width: 62.5em) {
  .scrollbars ::-webkit-scrollbar-thumb:hover {
    background-color: #3b4249;
  }
}
/*/ //////////////////////////////////////////////////////////////////////
Wysiwyg
///////////////////////////////////////////////////////////////////////*/
p + p {
  margin-top: 0.75em;
}
.wysiwyg p + p {
  margin-top: 0.75em;
}
/*///////////////////////////////////////////////////////////////////////
    Components or things
///////////////////////////////////////////////////////////////////////*/
.spacer-1,
.spacer-2,
.spacer-3,
.spacer-4,
.spacer-sm,
.spacer-md,
.spacer-lg {
  aspect-ratio: 1/1;
}
.spacer-1 {
  height: 8px;
}
.spacer-2 {
  height: 16px;
}
.spacer-3 {
  height: 24px;
}
.spacer-4 {
  height: 32px;
}
.spacer-sm {
  height: clamp(1.75rem, 2.1875vw, 2.1875rem);
}
.spacer-md {
  height: clamp(3.125rem, 4.375vw, 4.375rem);
}
.spacer-lg {
  height: clamp(3.125rem, 5.4688vw, 5.4688rem);
}
.icon-effect {
  overflow: hidden;
  position: relative;
}
.icon-effect .icon {
  transition: all 0s cubic-bezier(0.22, 1, 0.36, 1);
}
.icon-effect .icon-effect--2 {
  transform: translateX(-350%);
  position: absolute;
  left: 0;
  bottom: 0;
}
.icon-effect.--back .icon-effect--2 {
  position: static;
  transform: translateX(0%);
}
.icon-effect.--back .icon-effect--1 {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(350%);
}
@media (any-hover: hover) {
  a:hover .icon-effect .icon,
  a:focus .icon-effect .icon,
  .icon-effect:hover .icon,
  .icon-effect:focus .icon {
    transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  a:hover .icon-effect .icon-effect--2,
  a:focus .icon-effect .icon-effect--2,
  .icon-effect:hover .icon-effect--2,
  .icon-effect:focus .icon-effect--2 {
    transform: translateX(0%);
  }
  a:hover .icon-effect .icon-effect--1,
  a:focus .icon-effect .icon-effect--1,
  .icon-effect:hover .icon-effect--1,
  .icon-effect:focus .icon-effect--1 {
    transform: translateX(100%);
  }
}
@media (any-hover: hover) {
  a:hover .icon-effect.--back .icon-effect--2,
  a:focus .icon-effect.--back .icon-effect--2,
  .icon-effect.--back:hover .icon-effect--2,
  .icon-effect.--back:focus .icon-effect--2 {
    transform: translateX(-100%);
  }
  a:hover .icon-effect.--back .icon-effect--1,
  a:focus .icon-effect.--back .icon-effect--1,
  .icon-effect.--back:hover .icon-effect--1,
  .icon-effect.--back:focus .icon-effect--1 {
    transform: translateX(0%);
  }
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tag {
  padding: 7px 12px;
  border-radius: 1000px;
  font-weight: 600;
  font-size: 12px;
  background-color: #e6e8ea;
  color: #ffffff;
  line-height: 1;
  transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}
/*/ //////////////////////////////////////////////////////////////////////
Home
///////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////
    Services 
///////////////////////////////////////////////////////////////////////*/
@media (min-width: 62.5em) {
  .template--services {
    height: 100vh;
    overflow: hidden;
  }
}
.service-cards {
  outline: 0;
  margin-top: clamp(3.125rem, 5.4688vw, 5.4688rem);
}
@media (max-width: 62.4375em) {
  .service-cards {
    margin-left: calc(clamp(1.5rem, 5vw, 5rem) * -1);
    margin-right: calc(clamp(1.5rem, 5vw, 5rem) * -1);
  }
}
@media (min-width: 62.5em) {
  .service-cards {
    margin-top: -44px;
  }
}
@media (max-width: 62.4375em) {
  .service-cards .flickity-slider {
    left: clamp(1.5rem, 5vw, 5rem) !important;
    right: clamp(1.5rem, 5vw, 5rem) !important;
    height: 100%;
  }
}
@media (min-width: 62.5em) {
  .service-cards .flickity-slider {
    min-height: calc(100vh - 6.25rem - 6.25rem - clamp(3.125rem, 8.875vw, 8.875rem));
  }
}
@media (max-width: 62.4375em) {
  .service-cards .flickity-viewport {
    padding-left: clamp(1.5rem, 5vw, 5rem);
    padding-right: clamp(1.5rem, 5vw, 5rem);
  }
}
@media (min-width: 62.5em) {
  .service-cards .flickity-viewport {
    overflow: visible !important;
  }
}
.service-cards .flickity-button {
  display: none;
}
.service-cards .flickity-page-dots {
  margin-left: -8px;
  text-align: left;
  display: none;
}
@media (pointer: fine) {
  .service-cards ::-webkit-scrollbar {
    width: 0px;
  }
}
@media (pointer: fine) {
  .service-cards ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 4px;
    background-clip: content-box;
  }
}
@media (any-hover: hover) {
  .service-cards ::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
  }
}
.service-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  width: calc(100% - (clamp(1.5rem, 5vw, 5rem) * 0));
  height: 30rem;
  min-height: 26.25rem;
  padding: clamp(1.875rem, 3.625vw, 3.625rem);
  cursor: url(../assets/icons/slider-cursor.svg) 35 35, move;
  transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  background-color: #919ca6;
  color: #ffffff;
  margin-right: calc(clamp(1rem, 1.25vw, 1.25rem) / 2);
  border-radius: 16px;
}
@media (min-width: 31.25em) {
  .service-card {
    max-width: 28.125rem;
    background-color: #24292d;
    color: #ffffff;
    margin-right: clamp(1rem, 1.25vw, 1.25rem);
    width: 71.5%;
    height: 100%;
    border-radius: 25px;
  }
}
@media (min-width: 62.5em) {
  .service-card {
    max-width: 38.75rem;
    width: 62%;
    min-height: calc(100vh - 20.375rem);
  }
}
.service-card:first-child {
  cursor: url(../assets/icons/slider-cursor--first.svg) 35 35, move;
}
.service-card:last-child {
  cursor: url(../assets/icons/slider-cursor--last.svg) 35 35, move;
}
.service-card.--link {
  justify-content: flex-end;
  background-color: #191c1f;
  color: #ffffff;
}
.service-card.--link.--view-all {
  background-color: #191c1f;
}
.service-card.--link.is-selected {
  cursor: url(../assets/icons/slider-cursor--last-inverted.svg) 35 35, move;
}
.service-card.--link a {
  position: relative;
  bottom: -9px;
}
.service-card.is-selected {
  background-color: #ffffff;
  color: #191c1f;
  z-index: 9;
}
.service-card.is-selected.--link {
  justify-content: flex-end;
  color: #191c1f;
  background-color: #aef9d1;
}
.service-card.is-selected .button {
  border-color: #191c1f;
  background: #191c1f;
  color: #ffffff;
}
.service-card.is-selected .tag {
  background-color: #e6e8ea;
  color: #191c1f;
  opacity: 1;
}
.service-card .button {
  border-color: #ffffff;
}
@media (max-width: 31.1875em) {
  .service-card .button {
    background-color: #191c1f;
    color: #ffffff;
    border-color: transparent;
  }
}
@media (any-hover: hover) {
  .service-card .button:hover,
  .service-card .button:focus {
    border-color: #aef9d1;
    color: #191c1f;
  }
}
@media (max-height: 59.375rem) and (orientation: landscape) and (min-width: 62.5em) {
  .service-card .text--subheadingLg {
    font-size: clamp(25.8208px, 2.75vw, 44px);
    line-height: clamp(31.6992px, 3.25vw, 52px);
  }
}
@media (max-height: 53.125em) and (orientation: landscape) and (min-width: 62.5em) {
  .service-card .tags {
    flex-wrap: nowrap;
    white-space: nowrap;
    padding-inline: clamp(1.875rem, 3.625vw, 3.625rem);
    position: absolute;
    right: 0;
    left: 0;
    overflow: auto;
    bottom: 6.875rem;
    display: none;
  }
}
.service-card .tag {
  color: #191c1f;
  background-color: #e6e8ea;
  opacity: 0.5;
}
.service-card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  background-color: #191c1f;
  width: calc(clamp(1rem, 1.25vw, 1.25rem) / 2);
}
@media (min-width: 31.25em) {
  .service-card:before {
    width: clamp(1rem, 1.25vw, 1.25rem);
  }
}
.service-detail__contact-button {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: clamp(1.5rem, 5vw, 5rem);
  background-color: #191c1f;
  z-index: 3;
  height: 4.25rem;
  border-top: 1px solid #ffffff;
}
@media (min-width: 62.5em) {
  .service-detail__contact-button {
    display: none;
  }
}
.service-detail__headings--mobile {
  margin-top: -28px;
}
* + .services-nav--lvl1 {
  margin-top: 0.5rem;
}
.services-nav--lvl1 a,
.services-nav--lvl2 a {
  color: #919ca6;
}
@media (any-hover: hover) {
  .services-nav--lvl1 a:hover,
  .services-nav--lvl2 a:hover,
  .services-nav--lvl1 a:focus,
  .services-nav--lvl2 a:focus {
    color: #ffffff;
  }
}
.services-nav--lvl1 a.active,
.services-nav--lvl2 a.active {
  color: #ffffff;
}
@media (max-width: 62.4375em) {
  .services-nav--lvl2 {
    display: flex;
    font-size: 1.75rem;
    overflow: auto;
    gap: 1.5rem;
    margin-top: clamp(1.75rem, 2.1875vw, 2.1875rem);
    margin-inline: calc(clamp(1.5rem, 5vw, 5rem) * -1);
    padding-inline: calc(clamp(1.5rem, 5vw, 5rem) * 1);
    min-width: calc(100vw - 10px);
    margin-bottom: clamp(1.75rem, 2.1875vw, 2.1875rem);
    padding-bottom: 1rem;
  }
}
@media (max-width: 62.4375em) and (pointer: fine) {
  .services-nav--lvl2 ::-webkit-scrollbar {
    width: 0px;
  }
}
@media (max-width: 62.4375em) and (pointer: fine) {
  .services-nav--lvl2 ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 4px;
    background-clip: content-box;
  }
}
@media (max-width: 62.4375em) and (any-hover: hover) {
  .services-nav--lvl2 ::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
  }
}
@media (min-width: 62.5em) {
  .services-nav--lvl2 {
    margin-bottom: clamp(3.125rem, 5.4688vw, 5.4688rem);
  }
}
.services-nav--lvl2 li {
  flex-shrink: 0;
}
.form-field {
  position: relative;
  max-width: 40rem;
}
.form-field + .form-field {
  margin-top: 10px;
}
.form-field input,
.form-field textarea {
  width: 100%;
  padding: 14px 21px;
  border-radius: 8px;
  border: 1px solid #24292d;
  outline: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: clamp(14px, 1vw, 1rem);
  line-height: 1.62em;
  color: #ffffff;
  background: #24292d;
}
.form-field input:focus,
.form-field textarea:focus,
.form-field input:focus-within,
.form-field textarea:focus-within {
  border-color: #3b4249;
}
.form-field textarea {
  min-height: 9.8125rem;
  display: block;
  resize: none;
}
.form-field label {
  font-size: clamp(14px, 1vw, 1rem);
  line-height: 1.62em;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}
.--inline-labels .form-field input,
.--inline-labels .form-field textarea {
  padding-top: 26px;
  padding-bottom: 16px;
}
.--inline-labels .form-field label {
  position: absolute;
  left: 1.3125rem;
  top: 2.2em;
  transform: translateY(-50%);
  transform-origin: left;
  pointer-events: none;
  color: #3b4249;
}
.--inline-labels .form-field textarea:focus + label,
.--inline-labels .form-field input:focus + label,
.--inline-labels .form-field textarea:not(:placeholder-shown) + label,
.--inline-labels .form-field input:not(:placeholder-shown) + label {
  transform: scale(0.7);
  top: 0.4em;
  color: #e6e8ea;
}
.field--submit {
  display: flex;
  margin-top: 1rem !important;
}
@media (min-width: 62.5em) {
  .service-detail-form input,
  .service-detail-form textarea {
    max-width: 336px;
  }
}
@media (min-width: 62.5em) {
  .service-detail-form .button {
    border-color: #24292d;
  }
  .service-detail-form .button span {
    color: #3b4249;
  }
  .service-detail-form .button:before {
    display: none;
  }
}
@media (min-width: 62.5em) and (any-hover: hover) {
  .service-detail-form .button:hover,
  .service-detail-form .button:focus {
    border-color: #ffffff;
    transition: none;
  }
  .service-detail-form .button:hover span,
  .service-detail-form .button:focus span {
    color: #ffffff;
  }
}
.service-detail-form ::placeholder {
  color: #3b4249;
  opacity: 1;
}
.service-detail-form ::-ms-input-placeholder {
  color: #3b4249;
}
.services-lvl2 .wysiwyg,
.services-lvl2 h1,
.services-lvl2 h2,
.services-lvl2 h3,
.services-lvl2 h4,
.services-lvl2 h5,
.services-lvl2 h6 {
  max-width: 43.75rem;
}
.services-lvl2--url {
  flex-direction: row-reverse;
  outline: none;
}
@media (min-width: 62.5em) {
  .services-lvl2--url {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    transform: rotate(90deg) translateX(100%) translateY(calc(clamp(1.5rem, 5vw, 5rem) * -0.5));
    transform-origin: right;
    text-align: right;
    width: 100%;
    font-size: 0.8125rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    gap: 0.75rem;
    height: 0;
  }
  .services-lvl2--url .icon {
    transform: rotate(-90deg);
  }
  .services-lvl2--url span {
    transform: rotate(180deg);
  }
}
@media (any-hover: hover) {
  .services-lvl2--url:hover,
  .services-lvl2--url:focus {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.35em;
    text-decoration-color: inherit !important;
    color: #aef9d1;
  }
}
@media (min-width: 31.25em) {
  .services-lvl2__image--web {
    margin-left: -8.5vw;
  }
}
@media (min-width: 62.5em) {
  .services-lvl2__image--web {
    margin-left: -5.125vw;
  }
}
@media (min-width: 100em) {
  .services-lvl2__image--web {
    margin-left: -5.125rem;
  }
}
* + .services-lvl2__image {
  margin-top: clamp(3.125rem, 5.4688vw, 5.4688rem);
}
/*/ //////////////////////////////////////////////////////////////////////
Contact
///////////////////////////////////////////////////////////////////////*/
.template--contact .calendly-inline-widget {
  /* filter: invert(1) brightness(1.5); */
  margin-top: 66px;
}
@media (max-width: 45.1875rem) {
  .template--contact .calendly-inline-widget {
    border-radius: 25px;
    overflow: hidden;
    background: #ffffff;
  }
}
@media (min-width: 45.125rem) {
  .template--contact .calendly-inline-widget {
    margin-top: 0;
  }
}
@media (min-width: 62.5em) and (max-width: 74.1875rem) {
  .template--contact .calendly-inline-widget {
    border-radius: 25px;
    margin-top: 0;
  }
}
@media (min-width: 74rem) {
  .template--contact .calendly-inline-widget {
    margin-top: -66px;
  }
}
/*/ //////////////////////////////////////////////////////////////////////
About 
///////////////////////////////////////////////////////////////////////*/
.team {
  position: relative;
  overflow: hidden;
  padding-top: clamp(1.75rem, 2.1875vw, 2.1875rem);
  padding-bottom: clamp(3.125rem, 5.4688vw, 5.4688rem);
  margin-inline: calc(clamp(1.5rem, 5vw, 5rem) * -1);
}
@media (min-width: 62.5em) {
  .team {
    display: flex;
    overflow: visible;
    margin-inline: 0;
    transform: scale(1.25);
    transform-origin: top left;
  }
}
@media (min-width: 62.5em) {
  .team {
    position: static;
    padding-block: 0;
  }
}
.team__col {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
  top: 124px;
}
@media (min-width: 62.5em) {
  .team__col {
    top: 0;
  }
}
.team__col:first-child {
  margin-bottom: 18px;
}
@media (min-width: 62.5em) {
  .team__col:first-child {
    z-index: 5;
    margin-right: -1rem;
    margin-bottom: 0;
  }
}
@media (min-width: 62.5em) {
  .team__col:first-child .team__avatar:first-child {
    transform: translateX(calc(50% - 10px));
  }
}
.team__col:nth-of-type(2) .team__avatar:first-child {
  opacity: 0 !important;
}
@media (max-width: 61.5em) {
  .team__col:nth-of-type(2) .team__avatar.--small:nth-child(2) {
    top: -43px;
  }
  .team__col:nth-of-type(2) .team__avatar.--small:nth-child(3) {
    top: -21px;
  }
  .team__col:nth-of-type(2) .team__avatar.--small:nth-child(4) {
    top: -21px;
  }
  .team__col:nth-of-type(2) .team__avatar.--small:nth-child(5) {
    top: -43px;
  }
}
.team__avatar {
  position: relative;
  border-radius: 100%;
  z-index: 2;
}
.team__avatar img {
  display: block;
  overflow: hidden;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
}
.team__avatar.--big {
  margin-bottom: 1.75rem;
}
.team__avatar.--big img {
  width: 250px;
  border: 5px #191c1f solid;
}
@media (min-width: 62.5em) {
  .team__avatar.--big img {
    width: 150px;
  }
}
.team__avatar.--small {
  transform: translateY(20px);
}
@media (min-width: 62.5em) {
  .team__avatar.--small {
    transform: none;
  }
}
@media (min-width: 62.5em) {
  .team__avatar.--small + .team__avatar.--small {
    margin-top: 1.4375rem;
  }
}
.team__avatar.--small img {
  width: 70px;
  border: 2px #191c1f solid;
}
@media (min-width: 62.5em) {
  .team__avatar.--small img {
    width: 68px;
    border: 4px #191c1f solid;
  }
}
@media (max-width: 62.4375em) {
  .team__avatar.--small:nth-child(2) {
    position: absolute;
    top: 190px;
    transform: translateX(-94px);
  }
  .team__avatar.--small:nth-child(3) {
    position: absolute;
    top: 212px;
    transform: translateX(-32px);
  }
  .team__avatar.--small:nth-child(4) {
    position: absolute;
    top: 212px;
    transform: translateX(32px);
  }
  .team__avatar.--small:nth-child(5) {
    position: absolute;
    top: 190px;
    transform: translateX(94px);
  }
}
.team__lines--desktop {
  position: absolute;
  left: -127px;
  right: 0;
  top: 56px;
  bottom: 0;
  display: none;
  width: 540px;
  max-width: none;
}
@media (min-width: 62.5em) {
  .team__lines--desktop {
    display: block;
  }
}
@media (min-width: 62.5em) {
  .team__lines--desktop {
    top: -2px;
  }
}
.team__lines--mobile {
  position: absolute;
  top: 64px;
  left: 50%;
  width: 500px;
  min-width: 500px;
  transform: translateX(-50%);
}
@media (min-width: 62.5em) {
  .team__lines--mobile {
    display: none;
  }
}
.team__flag {
  position: absolute;
  right: 25px;
  bottom: -3px;
  font-size: 26px;
  display: none;
}
@media (min-width: 43.75em) {
  .team__flag {
    display: block;
  }
}
.team__flag--sm {
  position: absolute;
  right: 5px;
  bottom: -6px;
  display: none;
}
@media (min-width: 43.75em) {
  .team__flag--sm {
    display: block;
  }
}
.contact-form {
  margin-top: clamp(3.125rem, 5.4688vw, 5.4688rem);
}
@media (min-width: 62.5em) {
  .contact-form {
    margin-top: 0;
  }
}
.contact-form input,
.contact-form textarea {
  padding: 1.3125rem;
}
.contact-form textarea {
  min-height: 240px;
}
.contact-form ::placeholder {
  color: #3b4249;
  opacity: 1;
}
.contact-form ::-ms-input-placeholder {
  color: #3b4249;
}
.contact__bottom {
  display: none;
}
@media (min-width: 62.5em) {
  .contact__bottom {
    display: flex;
    flex-wrap: wrap;
    font-size: 29px;
    line-height: 52px;
    letter-spacing: -0.04em;
    font-weight: 500;
  }
}
@media (min-width: 62.5em) {
  .contact__bottom > * {
    flex-basis: calc(50% - (clamp(1rem, 1.25vw, 1.25rem) / 2));
  }
}
.qrContact {
  max-width: 6.25rem;
  cursor: url(../assets/icons/icon--cursor-scan.svg) 35 35, move;
}
@media (min-width: 62.5em) {
  .template--work {
    background: linear-gradient(to bottom, #191c1f 80%, #ffffff 20%);
  }
}
.button--view-more:before {
  background-color: #191c1f;
}
.category-filters {
  flex-basis: 100%;
  margin-bottom: 2rem;
  position: relative;
}
.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.filter-button.tag {
  color: #919ca6;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: transparent;
}
.filter-button.tag:hover,
.filter-button.tag:focus {
  color: #191c1f;
}
.filter-button.tag.active {
  background: #191c1f;
  color: white;
}
.masonry {
  position: relative;
  display: flex;
  gap: calc(clamp(1rem, 1.25vw, 1.25rem) / 3);
  grid-column: span 13;
  padding-top: clamp(3.125rem, 5.4688vw, 5.4688rem);
  padding-bottom: clamp(3.125rem, 8.875vw, 8.875rem);
  margin-inline: calc(clamp(1.5rem, 5vw, 5rem) * -0.5);
  margin-top: clamp(3.125rem, 8.875vw, 8.875rem);
  flex-wrap: wrap;
}
@media (min-width: 31.25em) {
  .masonry {
    margin-inline: 0;
    gap: calc(clamp(1rem, 1.25vw, 1.25rem) / 1.5);
  }
}
.masonry::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(clamp(1.5rem, 5vw, 5rem) * -1);
  right: calc(clamp(1.5rem, 5vw, 5rem) * -1);
  bottom: 0;
  z-index: 0;
  background: #ffffff;
  border-top-right-radius: calc(clamp(1.5rem, 5vw, 5rem) / 2);
  border-top-left-radius: calc(clamp(1.5rem, 5vw, 5rem) / 2);
}
@media (min-width: 31.25em) {
  .masonry::before {
    bottom: calc((clamp(3.125rem, 8.875vw, 8.875rem) * -1) + (6.25rem * -1));
  }
}
.masonry-col {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: calc(clamp(1rem, 1.25vw, 1.25rem) / 3);
}
@media (min-width: 31.25em) {
  .masonry-col {
    gap: calc(clamp(1rem, 1.25vw, 1.25rem) / 1.5);
  }
}
.works ::-webkit-scrollbar {
  width: 0;
}
.works ::-webkit-scrollbar-thumb {
  border-radius: 0;
  border: 0 solid transparent;
}
@media (min-width: 62.5em) {
  .works-intro {
    position: fixed;
  }
}
.work-col {
  position: relative;
  grid-column: span 13;
  columns: 2;
  column-gap: calc(clamp(1rem, 1.25vw, 1.25rem) / 2);
  background: #ffffff;
  padding-top: clamp(3.125rem, 5.4688vw, 5.4688rem);
  padding-bottom: clamp(3.125rem, 8.875vw, 8.875rem);
  margin-inline: calc(clamp(1.5rem, 5vw, 5rem) * -0.5);
  margin-top: clamp(1.5rem, 5vw, 5rem);
}
@media (min-width: 31.25em) {
  .work-col {
    margin-inline: 0;
    columns: 3;
    column-gap: clamp(1rem, 1.25vw, 1.25rem);
  }
}
@media (min-width: 62.5em) {
  .work-col {
    columns: 4;
  }
}
@media (min-width: 100em) {
  .work-col {
    columns: 5;
  }
}
.work-random__button {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  padding: calc(clamp(1.5rem, 5vw, 5rem) / 2);
  grid-column: span 13;
  z-index: 2;
  border: 0;
}
@media (min-width: 31.25em) {
  .work-random__button {
    display: none;
  }
}
.work-random__button button {
  display: flex;
  border-radius: 100rem;
  background-color: #191c1f;
  height: 56px;
  padding: 0 !important;
  width: 90%;
  margin-left: 5%;
}
@media (any-hover: hover) {
  .work-random__button button:hover,
  .work-random__button button:focus,
  .work-random__button button:active {
    color: #ffffff;
  }
}
.work-random__button button:before {
  display: none;
}
.work {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: clamp(0.25rem, 0.75vw, 0.625rem);
  background-color: #919ca6;
  background: #f6f6f6;
}
.work img {
  transition: all 1.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .work:not(.nda):hover img,
  .work:not(.nda):focus img {
    transform: scale(1.05);
  }
}
.work-sidebar {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 3rem;
  bottom: 6.25rem;
  left: -8px;
  transform: rotate(-90deg);
  transform-origin: left top;
}
.work-sidebar a {
  font-size: 1rem;
  font-weight: 500;
  color: #3b4249;
  white-space: nowrap;
}
.work-sidebar a.active {
  color: #ffffff;
}
@media (any-hover: hover) {
  .work-sidebar a:hover,
  .work-sidebar a:focus {
    color: #ffffff;
  }
}
.work-nav {
  display: flex;
  overflow: scroll;
  gap: clamp(1rem, 1.25vw, 1.25rem);
  transform: translateY(0.7rem);
  max-width: calc(100vh - 6.25rem - 6.25rem - clamp(3.125rem, 8.875vw, 8.875rem));
}
.loading--desktop {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.9);
}
.loading--desktop * {
  position: absolute;
  top: clamp(3.125rem, 8.875vw, 8.875rem);
  left: 0;
  width: 100px;
}
@media (min-width: 31.25em) {
  .is-loading .loading--desktop {
    display: flex;
  }
}
.loading--mobile {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
}
@media (max-width: 31.1875em) {
  .is-loading .loading--mobile {
    display: flex;
  }
}
.is-loading .loading--mobile + * {
  display: none;
}
.work-modal-open *:not(.modal *):not(.modal):not(.site-header .mw-container .grid .col-r):not(.site-header .mw-container .grid):not(
            .site-header .mw-container
        ):not(.site-header) {
  transition: all calc(0.3s * 4) cubic-bezier(0.22, 1, 0.36, 1);
}
.modal__loading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: #ffffff;
}
.modal__loading img {
  width: 100px;
  height: 100px;
}
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  transform: translateX(100%);
  background-color: #ffffff;
  transition: all calc(0.3s * 2) cubic-bezier(0.22, 1, 0.36, 1);
  overflow: hidden;
  cursor: pointer;
}
.modal.modal--open {
  transform: translateX(-50%);
}
.modal-content {
  position: relative;
  display: block;
  margin: auto;
  max-height: 100%;
  padding: clamp(1.5rem, 5vw, 5rem) calc(clamp(1.5rem, 5vw, 5rem) / 2);
  border-radius: 8px;
  z-index: 2;
  pointer-events: none;
  transition: all calc(0.3s * 2) cubic-bezier(0.22, 1, 0.36, 1);
}
@media (min-width: 31.25em) {
  .modal-content {
    padding: 1rem;
  }
}
.modal-close {
  position: absolute;
  padding: 1rem;
  top: 0.125rem;
  right: calc(clamp(1.5rem, 5vw, 5rem) - 1rem);
  z-index: 4;
  mix-blend-mode: difference;
  cursor: pointer;
}
@media (min-width: 62.5em) {
  .modal-close {
    top: 1.1875rem;
    right: 4rem;
  }
}
.modal-meta {
  position: absolute;
  bottom: calc(6.25rem / 2);
  left: clamp(1.5rem, 5vw, 5rem);
  right: clamp(1.5rem, 5vw, 5rem);
  transform: translateY(-50%);
  z-index: 33333333;
  color: #191c1f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(clamp(1rem, 1.25vw, 1.25rem) / 2);
}
.modal-meta__tags {
  display: flex;
  gap: calc(clamp(1rem, 1.25vw, 1.25rem) / 2);
  font-size: 0.875rem;
}
.modal-meta__description.tag.filter-button {
  background-color: #ffffff;
  padding: 7px 12px;
  border-radius: 0.9375rem;
  font-size: 0.875rem;
  color: #191c1f;
  display: inline-block;
}
.youtube-container {
  position: relative;
  aspect-ratio: 16/9;
  width: 100%;
  max-width: 1200px;
  pointer-events: auto;
}
.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}
.template--404 .site-header,
.template--404 .site-footer {
  display: none;
}
.template--404 .text--hero {
  color: #ffffff;
}
.template--404 *.tino-gif {
  max-width: none;
  position: absolute;
  top: calc(6.25rem * -1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: brightness(80%);
}
@media (min-width: 62.5em) {
  .template--404 *.tino-gif {
    height: calc(100% + 6.25rem);
    top: calc(6.25rem * -1);
  }
}
.full-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-modal iframe {
  height: 160% !important;
  min-height: calc(100vh + 109px) !important;
  width: 100vw;
  position: relative;
  top: -16px;
  bottom: -110px;
  max-width: 750px;
}
.full-modal a {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 1000000;
  color: white;
}
